<nav-bar/>
<div class="p-4">
	<div class="title-search">
		<h1>Recipe Book</h1>
		<div class="input-group">
			<span class="input-group-text" id="basic-addon1"><i class="bi bi-search"></i></span> 
			<input type="text" class="form-control" placeholder="Search for recipes" (input)="searchElement($event.target.value)">
			<button class="btn btn-outline-primary"(click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed()" ><i class="bi bi-filter"></i></button>
		</div>
	</div>
	<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
		<div class="card">
			<div class="card-body">
				<h4>Advanced Search:</h4>
				<div class="search-tag">
					<ng-select multiple class="w-100" [items]="tagNames()" [formField]="tagForm.name" />
				</div>
			</div>
		</div>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Recipe name</th>
				<th scope="col">Recipe short description</th>
			</tr>
		</thead>
		<tbody>
			@for (recipe of recipeBookAux(); track recipe.name; let i = $index) {
				<tr (click)="editRecipe(recipe)">
					<!-- <th scope="row">{{ i + 1 }}</th> -->
					<td> {{ recipe.name }} </td>
					<td>{{ recipe.description }}</td>
				</tr>
			}
		</tbody>
	</table>
	<button (click)="createRecipe()" type="button">Add a recipe</button>
</div>