<nav-bar/>
<h1>Pantry</h1>

<table class="table table-striped">
	<thead>
		<tr>
 			<th scope="col">Ingredient name</th>
			<th scope="col">Quantity</th>
			<th scope="col">Unit</th>
			<th scope="col">Notes</th>
		</tr>
	</thead>
	<tbody>
		@for (ingredient of ingredientList(); track ingredient.name; let i = $index) {
			<tr (click)="editIngredient(ingredient)">
				<!-- <th scope="row">{{ i + 1 }}</th> -->
				<td> {{ ingredient.name }} </td>
				<td>{{ ingredient.quantity }}</td>
				<td>{{ ingredient.unit }}</td>
				<td>{{ ingredient.notes }}</td>
			</tr>
		}
	</tbody>
</table>
<button (click)="createIngredient()" type="button">Add an ingredient</button>

