<nav-bar/>
<div>
    <h1>Empty Fridge</h1>
</div>
<div class="container">
    

    <div class="card">
        <img src="images/book.webp" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Cookbook</h5>
            <p class="card-text">Create your own recipes, be creative!</p>
            <a routerLink="cookbook" class="btn btn-primary">Manage Recipe Book</a>
        </div>
    </div>
    <div class="card">
        <img src="images/pantry.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Pantry</h5>
            <p class="card-text">Store all your ingredients to use them in your recipes.</p>
            <a routerLink="pantry" class="btn btn-primary">Manage Pantry</a>
        </div>
    </div>
</div>
