<div class="modal-header">
    <h4 class="modal-title">{{modalTitle()}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form>
    <div class="modal-body">
        <div>
            <label for="recipeName">Name</label>
            <input id="recipeName" type="text" [formField]="recipeForm.name">
        </div>
        <div>
            <label for="recipeDescription">Description</label>
            <input id="recipeDescription" type="text" [formField]="recipeForm.description">
        </div>
        <div class="steps">
            <label for="recipeSteps">Steps</label>
            <textarea id="recipeSteps" type="text" [formField]="recipeForm.steps"></textarea>
        </div>
        <div>
            <label for="recipeIng">List of ingredients:</label>
        </div>
        @for (ingredient of recipeForm.ingredients; track ingredient) {
            <div>
                <input id="recipeIng"  type="text" [formField]="ingredient.name" [ngbTypeahead]="search">
                <button type="button" class="btn btn-outline-secondary" (click)="deleteRow($index)">
                <i class="bi bi-dash"></i>
            </button> 
            </div>
        }

        
        <div>
            <button type="button" class="btn btn-outline-secondary" (click)="addIng()">
                <i class="bi bi-plus-lg"></i>
            </button>
            <!--<button type="button" class="btn btn-outline-secondary" (click)="deleteLastRow()">
                <i class="bi bi-dash"></i>

                El input definitivo
            (input)="ingredient.name().value.set($event.target.value)"
            </button> -->
        </div>

        <div>
            <label for="recipeIng">Tags:</label>
        </div>
        @for (tag of recipeForm.tags; track tag) {
            <div>
                <input id="recipeIng"  type="text" [formField]="tag.name" [ngbTypeahead]="searchTags">
                <button type="button" class="btn btn-outline-secondary" (click)="deleteRow($index)">
                <i class="bi bi-dash"></i>
            </button> 
            </div>
        }

        <div>
            <button type="button" class="btn btn-outline-secondary" (click)="addTag()">
                <i class="bi bi-plus-lg"></i>
            </button>
        </div>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="debugging()">Debugging</button>
    
        @if(editFlag){
            <button type="button" class="btn btn-outline-danger" (click)="deleteRec()">Delete</button>
        }
        
        <button type="button" class="btn btn-outline-primary" (click)="submitForm()" [disabled]="!recipeForm().valid()">Save</button>
    </div>
</form>