<div class="modal-header">
    <h4 class="modal-title">{{modalTitle()}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form>
    <div class="modal-body">
        <div>
            <label for="recipeName">Name</label>
            <input id="recipeName" type="text" [formField]="recipeForm.name">
        </div>
        <div>
            <label for="recipeDescription">description</label>
            <input id="recipeDescription" type="text" [formField]="recipeForm.description">
        </div>
        <div>
            <label for="recipeSteps">Steps</label>
            <input id="recipeSteps" type="text" [formField]="recipeForm.steps">
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="debugging()">Debugging</button>
    <!--
        @if(editFlag){
            <button type="button" class="btn btn-outline-danger" (click)="deleteIng()">Delete</button>
        }
        -->
        <button type="button" class="btn btn-outline-primary" (click)="submitForm()" [disabled]="!recipeForm().valid()">Save</button>
    </div>
</form>