<div class="modal-header">
    <h4 class="modal-title">{{modalTitle()}}</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<form>
    <div class="modal-body">
        <div>
            <label for="ingName">Name</label>
            <input id="ingName" type="text" [formField]="ingForm.name">  
        </div>
        <div>
            <label for="ingUnit">Unit</label>
            <select id="ingUnit" [formField]="ingForm.unit">
                <option value="Grams">Grams</option>
                <option value="Kilograms">Kilograms</option>
                <option value="Mililiters">Mililiters</option>
                <option value="Liters">Liters</option>
                <option value="Units">Units</option>
                <option value="Docens">Docens</option>
                <option value="Can">Cans</option>
            </select>    
        </div>
        <div>
            <label for="ingQuantity">Quantity</label>
            <input id="ingQuantity" type="number" step="1" [formField]="ingForm.quantity">
        </div>
        <div class="notes-input">
            <label for="ingNotes">Notes</label>
            <textarea id="ingNotes" [formField]="ingForm.notes"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="debugging()">Debugging</button>
        
        @if(editFlag){
            <button type="button" class="btn btn-outline-danger" (click)="deleteIng()">Delete</button>
        }
        
        <button type="button" class="btn btn-outline-primary" (click)="submitForm()" [disabled]="!ingForm().valid()">Save</button>
    </div>
</form>
